body {
    font-family: 'Segoe UI', sans-serif;
    background-color: rgb(192, 188, 188);
    }
    header, footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    }
    nav {
    background-color: rgb(77, 70, 34);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    }
    nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    }
   main {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    }
    strong {
    color: rgb(100, 83, 52);
    }
    blockquote{
    font-style: italic;
    color: rgb(95, 81, 59);
    }
    article {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    }
    aside {
    background-color: white;
    padding: 1rem;
    border-left: 4px solid rgb(95, 76, 41);
    }
    th {
    background-color: rgb(192, 188, 188);
    }
    th, td {
    border: 1px solid black;
    padding: 0.5rem;
    }
    table {
    width: 100%;
    border-collapse: collapse;
    }
    img {
    max-width: 100%;
    margin-top: 1rem;
    border: 4px solid #5a441a;
   border-radius: 8px;
    }
   footer a {
   color: rgb(85, 70, 28);
    text-decoration: none;
    }