body {
    font-family: sans-serif;
    background-color: rgb(218, 227, 230);
}
header, footer {
    background-color: rgb(186, 213, 238);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.5rem;
}
nav {
    background-color: rgb(127, 166, 182);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
nav a {
    text-decoration: none;
    color: #0d0731; 
    font-weight: bold;
}
main {
    padding: 2rem;
    display: flex;
    gap: 3rem;
}
article, aside {
    width: 60%;
}
strong {
    color: #000000;
}
blockquote{
    font-style: italic;
    color: 550c0c;
} 
article {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 1rem;
    width: 100%;
}
aside {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-left: 4px solid rgb(127, 166, 182);
    border-radius: 7px;
}
th {
    background-color: rgb(255, 255, 255);
}
th, td {
    border: 1px solid black;
    padding: 0.5rem;
} 
table {
    width: 100%;
    border-collapse: collapse;
}
img {
    max-width: 100%;
    margin-top: 1rem;
    border-radius: 8px;
}
footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
header, footer{color:rgb(140, 176, 190)}
.titulo{color:rgb(127, 166, 182)}
.titulo2{color:rgb(127, 166, 182)
}